header .navigation .menu a{
	padding: 0 !important;
}


.main-row{
	margin: 75px auto;
}

.gallery{
	display: block;
	width: 100%;
}

.gallery .event{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.gallery .event .event-image{
	width: 50%;
}.gallery .event .event-image img{ width: 100%; }
.gallery .event .description{
	width: 50%;
	padding: 0 20px;
	box-sizing: border-box;
}
